.face_container{
    position: absolute;
    height: 400px;
    width: 259px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-10deg);

    animation: appear 1s, face_move 2s 3s forwards;
   // border: 1px black solid;
}
.face{
    position: absolute;
    background-color: #f7dece;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 120px;
    height: 160px;
    border: white 0 solid;
    border-radius: 30px 30px 40px 40px ;
}
.top_hair{
    position: absolute;
    background-color: #3A3A3A;
    top: 30%;
    left: 53%;
    transform: translateX(-50%) translateY(-50%);
    width: 130px;
    height: 40px;
    border-radius: 20px;
}
.left_hair{
    position: absolute;
    background-color: #3A3A3A;
    top: 35%;
    left: 26%;
    transform: translateX(-50%) translateY(-50%);
    width: 20px;
    height: 50px;
    border-radius: 20px;
}

.mouth{
    position: absolute;
    background-color: #e75a70;
    top: 61%;
    left: 51%;
    transform: translateX(-50%) translateY(-50%);
    width: 48px;
    height: 10px;
    border-radius: 5px 5px 20px 20px;
    animation: smile 1s 1s;
    animation-fill-mode: forwards;
}
.teeth{
    position: absolute;
    background-color: #ffffff;
    top: 59%;
    left: 51%;
    transform: translateX(-50%) translateY(-50%);
    width: 50px;
    height: 10px;
    border-radius: 20px;
}
.chin{
    position: absolute;
    background-color: #f7dece;
    top: 66%;
    left: 51%;
    transform: translateX(-50%) translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 5px 5px 20px 20px;
    z-index: -1;
}
.eye{
    position: absolute;
    background-color: #f7dece;
    top: 46%;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);

    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 7px solid black;
    border-bottom-color: #f7dece;
    border-left-color: #f7dece;
}
.right{
    left: 60%;
}
.left{
    left: 42%;
}
.nose{
    position: absolute;
    background-color: #c1694f ;
    top: 53%;
    left: 53%;
    transform: translateX(-50%) translateY(-50%);
    width: 20px;
    height: 10px;
    border: solid 0;
    border-radius: 0 0 50% 50%;
}

.bubble {
    position: absolute;
    top:40%;
    left:54%;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 200px;
    background: #03dac6;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #ffffff;
    transform: scale(0);
    animation: appear_bubble 0.5s 1.2s forwards, bubble_move 2s 3s forwards;
}

.bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #03dac6;
    border-right: 12px solid transparent;
    border-top: 12px solid #03dac6;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
}

@keyframes smile {
    0% {
        height: 10px;
        top: 61%
    }
    100% {
        height: 40px;
        top: 64%
    }
}
@keyframes appear {
    from {
        transform: scale(0) translateX(-50%) translateY(-50%) rotate(10deg);
    }
    to {
        transform: scale(1) translateX(-50%) translateY(-50%) rotate(-10deg);
    }
}
@keyframes appear_bubble {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
@keyframes face_move {
    to {
        left: 20%;
    }
}
@keyframes bubble_move {
    to {
        left: 25%;
    }
}
@media only screen and (max-width: 700px) {

    @keyframes face_move {
        from{

        }
        to {
            top: 20%;
        }
    }
    @keyframes bubble_move {
        to {
            top: 10%;
        }
    }
}

