body{
    /*border: 2px solid blue;*/
    font-family: 'Roboto', sans-serif;
}

.main_container{
    display: flex;
    flex-flow: column;
    align-items: center;

    width: 100%;
}

.landing_container{
    border: black 1px solid;
    display: flex;
    flex-flow: column;
    align-items: center;

    width: 90%;
    height: 90vh;

    padding: 5px;
}

.section_divider{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 70px;
    position: relative;

    overflow: visible;
    margin-top: 40px;
}
.section_divider p{
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 30px;
    margin-right: 30px;
}
.section_divider_black{
    background-color: #212121;
}
.section_divider_blue{
    background-color: #01579B;
}
.section_divider_green{
    background-color: #1B5E20;
}
.section_icon{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
    position: absolute;
    left: 29px;
    top: -40px;
    z-index: 2;
    height: 80px;
    width: 80px;
    color: white;

    font-family: Roboto, sans-serif;
    font-size: 40px;
    animation: float_section 1900ms infinite ease-in-out;
}
.under_section_icon{
    border-radius: 100%;
    position: absolute;
    left: 25px;
    top: -45px;
    background-color: white;

    height: 88px;
    width: 88px;
}



.section_container{
    border: black 1px solid;
    display: flex;
    flex-flow: column;

    width: 90%;

    margin: 5px;
}

.subsection_container{
    /*border: black 1px solid;*/
    width: 100%;
    height: 100%;

    margin: 5px;
}
.subsection_container h3{
    border-left: gold 3px solid;
    padding-left: 3px;
    box-sizing: content-box;
}
.reg_spacer{
    height: 20%;
}
.sm_spacer{
    height: 10%;
}

@keyframes float_section {
    0% {transform: translateY(0%)}
    50%  { transform: translateY(-7%)}
    100% {transform: translateY(-0%)}
}

@media only screen and (min-width: 781px) {
    .landing_container{
        flex-flow: row;
        margin-top: 90px;
    }
    .reg_spacer{
        height: 0;
        width: 30%;
    }
    .sm_spacer{
        height: 0;
        width: 15%;
    }
}
