.navigation_bar {
    overflow: hidden;
    background-color: #212121;
    position: fixed;
    bottom: 1%;
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Roboto, sans-serif;
    border-radius: 0;
}

.navigation_bar a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #212121;
    margin: 5px;
}

.navigation_bar a:hover {
    background-color: #424242;
    color: white;
    box-shadow: 0 3px 1px -2px rgba(1,87,155,.3), 0 2px 2px 0 rgba(1,87,155,.24);
    transform: translateY(1px) translateX(-1px);
}

.navigation_bar p {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 3px;

}
@media screen and (min-width: 781px) {
    .navigation_bar {
        justify-content: flex-end;
        bottom: auto;
        top:0;
    }
}
