.navbar {
    overflow: visible;
    background-color: #01579B;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Roboto, sans-serif;
    border-radius: 0;
}

.navbar a {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #4FC3F7;
    margin: 5px;
    border-radius: 4px;
}

.navbar a:hover {
    background-color: #80D8FF;
    color: white;
    box-shadow: 0 3px 1px -2px rgba(1,87,155,.3), 0 2px 2px 0 rgba(1,87,155,.24);
    transform: translateY(1px) translateX(-1px);
}

.navbar p {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 3px;

}
@media screen and (min-width: 781px) {
    .navbar {
        justify-content: flex-end;
        bottom: auto;
        top:0;
    }
}
